.logo { display: flex; align-items: center; justify-content: center; height: 60px;}
.logo img { width: 30px; height: 30px; }
.ant-layout-header { color: white; font-weight: bold; }
.ant-layout.ant-layout-has-sider { min-height: 100vh ;}
.ant-layout.site-layout .ant-layout-content,
.ant-layout.site-layout .ant-layout-content .ant-breadcrumb { margin: 0 16px; }
.ant-layout.site-layout .ant-layout-content .ant-breadcrumb { padding: 16px 0;}
.site-layout .site-layout-background { padding: 24px; min-height: 360px; }
